{% extends 'base.html.twig' %}

{% block title %}Edit Events{% endblock %}

{% block body %}
    <h1>Edit Events</h1>
    <br>
    <a class="btn btn-success" href="{{ path('app_events_index') }}">back to list</a>
    {{ include('events/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a class="btn btn-success" href="{{ path('app_events_index') }}">back to list</a>
{% endblock %}
